<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <meta content="initial-scale=1,user-scalable=no,width=640" name="viewport">
    <title>fiddle</title>
  </head>
  <body>

    <main></main>

    <script type="text/template" id="tpl">
      <b><%= count %></b>
      <button class="inc">+</button>
      <button class="dec">-</button>
      <button class="reset">=0</button>
      <button class="remove">x</button>
    </script>

    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/underscore/underscore.js"></script>
    <script src="node_modules/backbone/backbone.js"></script>
    <script src="scripts/main.js"></script>

  </body>
</html>
