env:
  mocha: true
  node: true
rules:
  func-names: off
  max-len: off
  no-empty-function: off
  no-invalid-this: off
  no-magic-numbers: off
  no-throw-literal: off
  prefer-arrow-callback: off
  prefer-rest-params: off
  no-unused-expressions: off
extends: pwn
